html{
background-color: #e4e9fd;
background-image: -webkit-linear-gradient(65deg,#a683e3 72%,#e4e9fd 28%);
font-family: 'helvetica neue';
}

#date{
    background-color: #632fbc;
    text-align: center;
    color: #e4e9fd;
}

.p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 20px;
    color: #00204a;
}


.box{
    min-height: 70px;
    padding: 10px;
    align-items: center;
    border: 5px solid gray;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item{
    text-align: center;
    font-style: oblique;
}

.item:last-child{
    border-bottom: 0;
}

.item1{
    text-align: center;
    font-style: normal;
    margin-bottom: 6px;
}

input:checked+label{
    text-decoration: line-through;
}

input[type="checkbox"]{
    margin: 0;
}

#check{
    position: relative;
    width: 40px;
    height: 20px;
}

#label{
    position: absolute;
    text-align: justify;
}